.containercard{
    padding-top: 10px;
    }
    #transactionForm{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        background-color: #fff;
        border: none;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    #addTransactionBtn{
        background-color: #413E3E;
        color: #ffa500;
        border-radius: 5px;
        padding: 0.7em;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        }
        
    #addTransactionBtn:hover{
        color: #413E3E;
        background-color: #ffa500;
    }