.main{
    background-color: rgb(204, 116, 62);  
    height: 100%;
}
.CardContainer{
    padding-left: 10px; 
    float: right;
    overflow: scroll;
    height: 500px;
    overflow-x: hidden;
 
}

.CardContainerFilter{ 
    float: left;
}

.WholeContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 200px;

}