
.nav_links{
    text-decoration: none;
    font-weight: 600;
    color:#413E3E;
}

.nav_links:hover{
    color: #ffa500;
}



.banner_nav{
    display: flex;
    align-items: center;
    padding: 0 0 4em;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    position: relative;
}

.banner_nav_nav{
    display: flex;
    align-items: center;
    width: 50em;
    justify-content: space-around;
}
