.wrapper{
    display: flex;
    flex-direction: column;
    background: url("/src/images/banner_img.png") no-repeat center;
    background-size: 100% 100%;
    height: 45em;
    width: 100%;
    padding: 0.2em 1.5em 0 1.5em
}

.o_wrapper{
    border-bottom: 1px solid #ffa500;
}

.banner_card{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 3.7em;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.banner_card h1{
    font-weight: 900;
}

.reg_btn{
    background-color: #ffa500;
    text-decoration: none;
    font-weight: 600;
    border: 0;
    color:#413E3E;
    padding: 1em 2em;
    width: 500px;
    border-radius: 20px;
    transition: 0.4s;
}

.reg_btn:hover{
    color: #fff;
    box-shadow: 2px 2px 2px 2px #2a000017;

}

.logoContainer *{
    height: 2em;
    width: 3.2em;
}

